<h1 class="auth-title">Edit your user</h1>

<form class="auth-form" action="/auth/{{user._id}}/edit" method="POST" id="form-container">
  <label for="username">Username</label>
  <input class="form-text-input" id="username" type="text" name="username" value="{{user.username}}">

  <label for="email">Email address</label>
  <input class="form-text-input" id="email" type="email" name="email" value="{{user.email}}">


  <label for="password">Password</label>
  <input class="form-text-input" id="password" type="password" name="password" placeholder="*****">

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}


  <button class="auth-button">Save changes</button>
</form>


<form class="auth-form" action="/auth/{{user.id}}/delete" method="POST">
  <button class="auth-button delete-user">Delete my user</button>
</form>