<h1>All snippets</h1>
{{#each snippets}}
<div>
  <h3>{{this.title}}</h3>
  <p>{{this.language}}</p>
  {{#if this.pic.picPath}}
  <img src="{{this.pic.picPath}}" alt="{{this.pic.picName}}">
  {{/if}}
  <a href="/snippets/{{this._id}}">Open snippet</a>
  <hr>
</div>
{{/each}}