<h1 class="snippet-title">Edit snippet</h1>

<form action="/snippets/{{snippet._id}}/createdby/{{snippet.creator._id}}/edit" method="POST">
  <div class="input-container">
    <label for="title">Title</label>
    <input class="form-text-input" type="text" id="title" name="title" value="{{snippet.title}}">
    <label for="language">Language</label>
    <select class="form-select" name="language" id="language" onchange="changeMode(this)">
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JS">JavaScript</option>
    </select>
  </div>


  <label class="label" for="code">Code snippet</label>
  <textarea name="code" id="code" cols="30" rows="10">{{snippet.code}}</textarea>

  <label class="label label-description" for="description">description</label>
  <textarea class="form-textarea" name="description" id="description" cols="30"
    rows="10">{{snippet.description}}</textarea>
  <div class="input-container">
    <label for="source">Source</label>
    <input class="form-text-input" type="text" id="source" name="source" value="{{snippet.source}}">
    <label for="board">Board</label>
    <select class="form-select" name="board" id="board">
      {{#each boards}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <button class="form-button">Save changes</button>
</form>

<script>
  const languageSelected = "{{ snippet.language }}"


  let languageOptions = document.getElementById("language").querySelectorAll("option")

  languageOptions.forEach(language => {
    if (language.value === languageSelected) language.setAttribute("selected", "selected")
  })

  const boardSelected = "{{ snippet.board }}"

  let boardOptions = document.getElementById("board").querySelectorAll("option")
  boardOptions.forEach(board => {
    if (board.value === boardSelected) board.setAttribute("selected", "selected")
  })
</script>


<script src="/javascripts/edit-snippet.js"></script>