<h1 class="snippet-title">{{snippet.title}}</h1>
<p class="code-title">Code:</p>
<textarea name="code" id="code" cols="30" rows="10">
  {{snippet.code}}
</textarea>
<p>{{snippet.description}}</p>
<div class="snippet-data">
  <p>Created by: {{snippet.creator.username}}</p>
  <p>Language: <span id="snippet-language">{{snippet.language}}</span></p>
  {{#if snippet.board}}
  <p>Board: {{snippet.board.name}}</p>
  {{/if}}
</div>
{{#if snippet.source}}
<p>Source: <a href="{{snippet.source}}">{{snippet.source}}</a></p>
{{/if}}

<div class="snippet-buttons">
  <form action="/snippets/{{snippet._id}}/edit" method="GET">
    <button class="edit-button">Edit snippet</button></form>

  <form action="/snippets/{{snippet._id}}/{{snippet.creator._id}}/delete" method="POST">
    <button class="delete-button">Delete snippet</button></form>

</div>

<script src="/javascripts/view-snippet.js"></script>