<h1>{{board.name}}</h1>
<p>Created by: {{board.creator.username}}</p>
<h3>Snippets</h3>
<ul>
  {{#each snippets}}
  {{> snippetCard}}
  {{/each}}
</ul>

<div class="snippet-buttons">

  <form action="/boards/{{board._id}}/edit" method="GET">
    <button class="edit-button">Edit board</button></form>

  <form action="/boards/{{board._id}}/{{board.creator._id}}/delete" method="POST">
    <button class="delete-button">Delete board</button></form>
</div>